%h1
  = link_to @game.title, game_path(@game)
  = status_label_for(@game)

%hr
.well.well-sm
  %p
    - if @game.live? && current_user_game_owner?(@game, current_user.id)
      %a{href: reset_votes_game_path(@game), class: 'btn btn-danger', id: 'reset_votes'}Reset Votes
%hr

.well
  %h2 Players
  %table.table.table-striped.table-bordered.table-condensed
    = render 'players/player', game: @game
