%h1
  = link_to @game.title, game_path(@game)
  = status_label_for(@game)

%hr
.well.well-sm
  %p
    - if @game.live? && current_user_game_owner?(@game, current_user.id)
      = link_to 'Reset votes', reset_votes_game_path(@game), method: :delete, class: "btn btn-danger"
%hr

.well
  %h2 Players
  %table.table.table-striped.table-bordered.table-condensed
    - @game.players.order('votes desc').each do |player|
      = render 'players/player', player: player, game: @game
